<a href="https://colab.research.google.com/github/GabrielTB1/Pandas_IO/blob/main/Pandas_IO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Criando os nomes

In [1]:
import pandas as pd

In [2]:
nomes_f = pd.read_json('https://guilhermeonrails.github.io/nomes_ibge/nomes-f.json')
nomes_m = pd.read_json('https://guilhermeonrails.github.io/nomes_ibge/nomes-m.json')

In [3]:
nomes_f.sample(5)

        nome  regiao    freq  rank sexo
182  LIDIANE       0   86963   183    F
77    MARINA       0  207760    78    F
3    ANTONIA       0  588783     4    F
81   MICHELE       0  200531    82    F
96     TANIA       0  172242    97    F

In [4]:
nomes_m.sample(5)

         nome  regiao    freq  rank sexo
36    ROBERTO       0  435832    37    M
168  CRISTIAN       0   77504   169    M
142      HUGO       0  100685   143    M
83      RENAN       0  170182    84    M
50   VINICIUS       0  302419    51    M

In [5]:
print('Quantidade de nomes: ' + str(len(nomes_f) + len(nomes_m)))

Quantidade de nomes: 400

In [6]:
frames = [nomes_f, nomes_m]

In [7]:
nomes = pd.concat(frames)['nome'].to_frame()

In [8]:
nomes.sample(5)

         nome
61     BIANCA
96    EVERTON
134  VERONICA
171  VALDEMIR
3     ANTONIA

# Incluindo ID dos alunos

In [9]:
import numpy as np
np.random.seed(123)

In [10]:
total_alunos = len(nomes)
total_alunos

400

In [11]:
nomes["id_aluno"] = np.random.permutation(total_alunos) + 1

In [12]:
nomes.sample(5)

          nome  id_aluno
188    POLIANA       369
57      DAIANE       303
3    FRANCISCO       382
182    CHARLES        33
30    ANDERSON       111

In [13]:
dominios = ['@dominiodoemail.com.br', '@servicodoemail.com']
nomes['dominio'] = np.random.choice(dominios, total_alunos)

In [14]:
nomes.sample(5)

          nome  id_aluno                 dominio
84    SEVERINO        78  @dominiodoemail.com.br
0         JOSE       331     @servicodoemail.com
179       IAGO       340  @dominiodoemail.com.br
10      SANDRA       174  @dominiodoemail.com.br
171  TERESINHA        45  @dominiodoemail.com.br

In [15]:
nomes['email'] = nomes.nome.str.cat(nomes.dominio).str.lower()

In [16]:
nomes.sample(5)

       nome  id_aluno                 dominio                         email
114  ARTHUR       320  @dominiodoemail.com.br  arthur@dominiodoemail.com.br
57   DAIANE       303     @servicodoemail.com     daiane@servicodoemail.com
85   HELENA       221  @dominiodoemail.com.br  helena@dominiodoemail.com.br
183   IRACI         8  @dominiodoemail.com.br   iraci@dominiodoemail.com.br
189   DALVA       137  @dominiodoemail.com.br   dalva@dominiodoemail.com.br

# Criando a tabela Cursos

In [17]:
!pip3 install html5lib
!pip3 install lxml

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: html5lib in /usr/local/lib/python3.8/dist-packages (1.0.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: lxml in /usr/local/lib/python3.8/dist-packages (4.9.2)

In [18]:
import html5lib

In [19]:
# URLS utilizadas nas aulas estão indisponiveis
# url = 'http://tabela-cursos.herokuapp.com/index.html'
# cursos = pd.read_html(url)
# cursos

In [20]:
lista = ['Lógica de programação', 'Java para Web', 'C# para Web',
         'Ruby on Rails', 'Cursos de Python', 'PHP com MySql', 'NET para web',
         'Novas integrações com Java', 'TDD com Java', 'Código limpo com C#',
         'Preparatório para certificação Java', 'Hardware básico',
         'Persistência com .NET', 'Desenvolvendo jogos', 'Análise de dados',
         'Estatística básica', 'Internet das coisas', 'Programação funcional',
         'Boas práticas em Java', 'Orientação objetos com Java']
cursos = pd.DataFrame(lista, columns = ['Nome do curso'])
cursos.head(5)

           Nome do curso
0  Lógica de programação
1          Java para Web
2            C# para Web
3          Ruby on Rails
4       Cursos de Python

# Alterando o index de cursos

In [21]:
cursos = cursos.rename(columns={'Nome do curso' : 'nome_do_curso'})

In [22]:
cursos.head(5)

           nome_do_curso
0  Lógica de programação
1          Java para Web
2            C# para Web
3          Ruby on Rails
4       Cursos de Python

In [23]:
cursos['id'] = cursos.index + 1

In [24]:
cursos.head(5)

           nome_do_curso  id
0  Lógica de programação   1
1          Java para Web   2
2            C# para Web   3
3          Ruby on Rails   4
4       Cursos de Python   5

In [25]:
cursos = cursos.set_index('id')

In [26]:
cursos.head(5)

            nome_do_curso
id
1   Lógica de programação
2           Java para Web
3             C# para Web
4           Ruby on Rails
5        Cursos de Python