<a href="https://colab.research.google.com/github/GabrielTB1/Pandas_IO/blob/main/Pandas_IO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
nomes_f = pd.read_json('https://guilhermeonrails.github.io/nomes_ibge/nomes-f.json')
nomes_m = pd.read_json('https://guilhermeonrails.github.io/nomes_ibge/nomes-m.json')

In [7]:
nomes_f.sample(5)

          nome  regiao    freq  rank sexo
51       JOANA       0  268576    52    F
130  ELIZABETE       0  123594   131    F
71       MARTA       0  214263    72    F
50     RAFAELA       0  272718    51    F
188    POLIANA       0   84237   189    F

In [9]:
nomes_m.sample(5)

         nome  regiao    freq  rank sexo
33      JORGE       0  464573    34    M
96    EVERTON       0  147274    97    M
110      IVAN       0  130228   111    M
155   EMANUEL       0   82536   156    M
65   MAURICIO       0  234847    66    M

In [14]:
print('Quantidade de nomes: ' + str(len(nomes_f) + len(nomes_m)))

Quantidade de nomes: 400

In [15]:
frames = [nomes_f, nomes_m]

In [17]:
nomes = pd.concat(frames)['nome'].to_frame()

In [20]:
nomes.sample(5)

         nome
66   PRISCILA
53     ELAINE
97    BARBARA
183     IRACI
127   JULIANO