<a href="https://colab.research.google.com/github/GabrielTB1/Pandas_IO/blob/main/Pandas_IO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Criando os nomes

In [1]:
import pandas as pd

In [2]:
nomes_f = pd.read_json('https://guilhermeonrails.github.io/nomes_ibge/nomes-f.json')
nomes_m = pd.read_json('https://guilhermeonrails.github.io/nomes_ibge/nomes-m.json')

In [3]:
nomes_f.sample(5)

        nome  regiao    freq  rank sexo
144   LORENA       0  111906   145    F
62    FLAVIA       0  232838    63    F
36    DEBORA       0  312839    37    F
156   YASMIN       0  103787   157    F
111  TAMIRES       0  142898   112    F

In [4]:
nomes_m.sample(5)

        nome  regiao     freq  rank sexo
2    ANTONIO       0  2567494     3    M
56   DOUGLAS       0   264889    57    M
28   LEANDRO       0   506483    29    M
21    MATEUS       0   583962    22    M
191    ERICK       0    69692   192    M

In [5]:
print('Quantidade de nomes: ' + str(len(nomes_f) + len(nomes_m)))

Quantidade de nomes: 400

In [6]:
frames = [nomes_f, nomes_m]

In [7]:
nomes = pd.concat(frames)['nome'].to_frame()

In [8]:
nomes.sample(5)

          nome
155    EMANUEL
98      GILSON
111    CLEITON
13      DANIEL
145  FRANCIELE

# Incluindo ID dos alunos

In [9]:
import numpy as np
np.random.seed(123)

In [10]:
total_alunos = len(nomes)
total_alunos

400

In [11]:
nomes["id_aluno"] = np.random.permutation(total_alunos) + 1

In [12]:
nomes.sample(5)

          nome  id_aluno
188    POLIANA       369
57      DAIANE       303
3    FRANCISCO       382
182    CHARLES        33
30    ANDERSON       111

In [13]:
dominios = ['@dominiodoemail.com.br', '@servicodoemail.com']
nomes['dominio'] = np.random.choice(dominios, total_alunos)

In [15]:
nomes.sample(5)

          nome  id_aluno                 dominio
84    SEVERINO        78  @dominiodoemail.com.br
0         JOSE       331     @servicodoemail.com
179       IAGO       340  @dominiodoemail.com.br
10      SANDRA       174  @dominiodoemail.com.br
171  TERESINHA        45  @dominiodoemail.com.br

In [16]:
nomes['email'] = nomes.nome.str.cat(nomes.dominio).str.lower()

In [18]:
nomes.sample(5)

,nome,id_aluno,dominio,email
59,ISABEL,83,@dominiodoemail.com.br,isabel@dominiodoemail.com.br
172,REBECA,165,@servicodoemail.com,rebeca@servicodoemail.com
130,JUNIOR,184,@dominiodoemail.com.br,junior@dominiodoemail.com.br
70,JOAQUIM,248,@servicodoemail.com,joaquim@servicodoemail.com
171,VALDEMIR,3,@dominiodoemail.com.br,valdemir@dominiodoemail.com.br